# Environment variables
.env
.env.local
.env.production
.env.development

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Editor
.vscode
.idea
.DS_Store

# Vercel
.vercel

# Downloaded files
download.zip
download_extracted
pando
